adf/pipeline/Source_To_Staging.json
{
	"name": "Source_To_Staging",
	"properties": {
		"activities": [
			{
				"name": "ForEachExtractDataFromDataSource",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableMappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableMappings').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlPoolSink",
									"allowCopyCommand": true
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "sa-sg-assessment-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().SourceDbSchema",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().SourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlPoolTable1",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().StgDbSchema",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().StgTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "GetTableMappings",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT *\nFROM audit.WorldWideTableList",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlPoolTable1",
						"type": "DatasetReference",
						"parameters": {
							"schema": "audit",
							"tableName": "WorldWideTableList"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-12-04T21:25:47Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}